<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_invalid_bank_search"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LessonProject"
        tools:targetApi="31">
        <activity
            android:name=".views.WhatsappActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".views.PhotoActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.lessonproject.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".views.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".TestMainActivity"
            android:exported="false" />
        <activity
            android:name=".DialogActivity"
            android:exported="false" />
        <activity
            android:name=".views.NewPhotoActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".views.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".views.MainActivity"
            android:exported="false" />
    </application>

</manifest>